.divBtn {
    display: inline;
    float: right;
}

.btn {
    background-color: mediumvioletred;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.totalNum {
    color: mediumaquamarine;
    letter-spacing: 2px;
}

.totalText {
    color: mediumvioletred;
    letter-spacing: 2px;
}

.number {
    color: mediumvioletred;
    font-weight: bold;
}

.weight {
}