.actions input {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0.5rem;
}


.addBtn {
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    margin: 0.5rem;
    width: 5.5rem;
    outline: none;
    border: none;
    padding: 10px;
    background-color: mediumpurple;

}

.addBtn:hover {
    opacity: 0.9;
}

.addBtn:active {
    transform: scale(0.98);
}